<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BusinessUserMapper">
    
    <resultMap type="BusinessUser" id="BusinessUserResult">
        <result property="id"    column="id"    />
        <result property="customerNum"    column="customer_num"    />
        <result property="province"    column="province"    />
        <result property="membership"    column="membership"    />
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="belongCp"    column="belong_cp"    />
        <result property="developeNum"    column="develope_num"    />
        <result property="developePerson"    column="develope_person"    />
        <result property="orderTime"    column="order_time"    />
        <result property="callTime"    column="call_time"    />
        <result property="productAssets"    column="product_assets"    />
        <result property="productRate"    column="product_rate"    />
    </resultMap>

    <sql id="selectBusinessUserVo">
        select id, customer_num, province, membership, product_id, product_name, belong_cp, develope_num, develope_person, order_time, call_time, product_assets, product_rate from business_user
    </sql>

    <select id="selectBusinessUserList"  resultMap="BusinessUserResult">
        <include refid="selectBusinessUserVo"/>
        <where>
            <if test="customerNum != null  and customerNum != ''"> and customer_num = #{customerNum}</if>
            <if test="province != null  and province != ''"> and province like concat('%', #{province}, '%')</if>
            <if test="membership != null  and membership != ''"> and membership like concat('%', #{membership}, '%')</if>
            <if test="productId != null  and productId != ''"> and product_id = #{productId}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="developeNum != null  and developeNum != ''"> and develope_num = #{developeNum}</if>
<!--            <if test="developePerson != null  and developePerson != ''"> and develope_person like concat('%', #{developePerson}, '%')</if>-->
        </where>
    </select>
    
    <select id="selectBusinessUserById" parameterType="Long" resultMap="BusinessUserResult">
        <include refid="selectBusinessUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusinessUser"  useGeneratedKeys="true" keyProperty="id">
        insert into business_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerNum != null">customer_num,</if>
            <if test="province != null">province,</if>
            <if test="membership != null">membership,</if>
            <if test="productId != null">product_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="belongCp != null">belong_cp,</if>
            <if test="developeNum != null">develope_num,</if>
            <if test="developePerson != null">develope_person,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="callTime != null">call_time,</if>
            <if test="productAssets != null">product_assets,</if>
            <if test="productRate != null">product_rate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerNum != null">#{customerNum},</if>
            <if test="province != null">#{province},</if>
            <if test="membership != null">#{membership},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="belongCp != null">#{belongCp},</if>
            <if test="developeNum != null">#{developeNum},</if>
            <if test="developePerson != null">#{developePerson},</if>
            <if test="orderTime != null">#{orderTime},</if>
            <if test="callTime != null">#{callTime},</if>
            <if test="productAssets != null">#{productAssets},</if>
            <if test="productRate != null">#{productRate},</if>
         </trim>
    </insert>

    <update id="updateBusinessUser" >
        update business_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerNum != null">customer_num = #{customerNum},</if>
            <if test="province != null">province = #{province},</if>
            <if test="membership != null">membership = #{membership},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="belongCp != null">belong_cp = #{belongCp},</if>
            <if test="developeNum != null">develope_num = #{developeNum},</if>
            <if test="developePerson != null">develope_person = #{developePerson},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="callTime != null">call_time = #{callTime},</if>
            <if test="productAssets != null">product_assets = #{productAssets},</if>
            <if test="productRate != null">product_rate = #{productRate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusinessUserById" parameterType="Long">
        delete from business_user where id = #{id}
    </delete>

    <delete id="deleteBusinessUserByIds" parameterType="String">
        delete from business_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--    是否已存在此客户订单(查询条件:客户手机,产品,订购时间)-->
    <select id="selectBusinessUserIfExists" resultType="integer">
        select count(0) from business_user
        where customer_num = #{customerNum} and product_id= #{productId} and order_time= #{orderTime}
    </select>

    <!--    根据产品ID查询返点率-->
    <select id="selectProductRate" resultType="String">
        select product_rate from  business_user where customer_num = #{customerNum} and product_id=#{productId} and order_time=#{orderTime}
    </select>

    <!--    根据产品ID查询集团名称-->
    <select id="selectMembership" resultType="String">
        select membership from business_user
        where customer_num = #{customerNum}
        and product_id= #{productId}
        and order_time= #{orderTime}
    </select>


    <!--    导出list-->
    <select id="selectExportBusinessUserList"  resultMap="BusinessUserResult">
        <include refid="selectBusinessUserVo"/>
    </select>


    <select id="countList" resultMap="BusinessUserResult">
SELECT
	u.develope_num,
	(SELECT
	round(sum(a.product_assets*b.real_rate),2)
FROM
	business_user a
	LEFT JOIN business_receipts b ON a.customer_num = b.customer_num
	AND a.order_time = b.order_time
	AND a.product_id = b.product_id
WHERE
	develope_num = u.develope_num
	and DATE_FORMAT(b.bill_date,'%Y-%m') =DATE_FORMAT(date_sub(#{inputDate}, interval 4 month),'%Y-%m')
  and  TIMESTAMPDIFF(MONTH,a.order_time,DATE_FORMAT(#{inputDate}, '%Y-%m-%d')) between 0 and 12 ) as advance,
	(SELECT
	round(sum(a.product_assets*b.real_rate),2)
FROM
	business_user a
	LEFT JOIN business_receipts b ON a.customer_num = b.customer_num
	AND a.order_time = b.order_time
	AND a.product_id = b.product_id
WHERE
	develope_num = u.develope_num
	and DATE_FORMAT(b.bill_date,'%Y-%m') =DATE_FORMAT(date_sub(#{inputDate}, interval 3 month),'%Y-%m')
  and  TIMESTAMPDIFF(MONTH,a.order_time,DATE_FORMAT(#{inputDate}, '%Y-%m-%d')) between 0 and 12 ) as clear,

	(
	SELECT
	round(sum(b.return_assets),2)
FROM
	business_user a
	LEFT JOIN business_return b ON a.customer_num = b.customer_num
	AND a.order_time = b.order_time
	AND a.product_id = b.product_id
WHERE
  develope_num = u.develope_num and
	b.return_date =DATE_FORMAT(#{inputDate},'%Y-%m')
 ) as returns

FROM
	business_user u
	<where>
        <if test="developeNum != null  and developeNum != ''"> and develope_num = #{developeNum}</if>
    </where>
	group by u.develope_num

    </select>


</mapper>